/src/main/resources/build/bower.json
/src/main/resources/build/css/
/src/main/resources/build/img/
/src/main/resources/build/js/
/src/main/resources/build/index.html
/src/main/resources/build/favicon.png
/src/main/resources/build/bower_components/
/src/main/resources/nbproject/
/src/main/resources/static/bower.json
/src/main/resources/static/main.css
/src/main/resources/static/favicon.png
/src/main/resources/static/index.html
/src/main/resources/static/js/
/src/main/resources/static/bower_components/
/src/main/resources/static/img/
/src/main/resources/static/css/
/src/main/resources/src/scss/
/src/main/resources/src/bower_components/
/src/main/resources/src/.netbeans.xml