.section-hero {
    background-image: url("../img/stock-photo-three-akita-inu-puppy-dogs-on-green-grass-77012650.jpg");
    font-weight: bold;
    margin-top: 84px;
}

.section-about {
    background-image: url("../img/help-dog-picture.jpg") ;
    position: relative;
}

.section-mission {
    background-image: url("../img/Cute_Pet_Dog_Wallpaper.jpg"); 
}

.section-testimonial {
    background-color: #333;
    color: #DDD;
}
